@page "{id}"
@model ClinicaFisioterapia.Pages.Agendamentos.DetailsModel

@{
    ViewData["Title"] = "Detalhes do Agendamento";
}

<h1>Detalhes do Agendamento</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Paciente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agendamento.Paciente.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agendamento.DataHora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agendamento.DataHora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agendamento.Procedimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agendamento.Procedimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agendamento.Observacoes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agendamento.Observacoes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agendamento.Confirmado)
        </dt>
        <dd class="col-sm-10">
            @(Model.Agendamento.Confirmado ? "Sim" : "Não")
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Agendamento.Id" class="btn btn-warning">Editar</a>
    <a asp-page="./Index" class="btn btn-secondary">Voltar</a>
</div>